<ion-view view-title="Agent Created" class="backgroundImg1" ng-init="CheckLogin()">
  
    <div class="list panel card text-center" style="margin-top:10%">

        <div class="item balanced-bg">
            <b style="font-size:20pt">AGENT</b>
            <p> Created Successfully</p>
        </div>

        <div class="item item-body">
            <span class="icon  ion-person-stalker" style="font-size:40pt"></span>
 
            <p>
                <h2 style="font-size:20pt;">Please Close & Restart Application</h2>
                <h1>&</h1>
                <h2 style="font-size:15pt;">Login With Agent Credentials</h2>
            </p>
            
        </div>

        <div class="item tabs tabs-secondary tabs-icon-left" style="background-color:yellowgreen">
            
            <a class="tab-item" ng-click="logout();" style="padding-bottom:30px;font-size:15pt;color:red;">
                <i class="icon ion-power "></i>
                Logout
            </a>
            
        </div>

    </div>
    
      <br />
    <br />
    

    
</ion-view>
