<ion-view view-title="Login" name="login-view" class="backgroundImg1">

    <ion-content class="padding">
        <div class="text-center">

            <br />
            <center><h1 class="mBankImage"></h1></center><br />

            <h2 class="" style="font-size:20pt;color:lightpink">mBank Manager LogIn</h2> 

            <br /> 

            <form class="login" >
                

                <div>
                    <div class="row">
                        <span class="input-label icon ion-person pull-right col-10" style="font-size:20pt;color:white;"></span>
                        <input type="text" ng-model="username" placeholder="Username" autofocus/>
                    </div>
                    <div class="row">
                        <span class="input-label icon ion-asterisk pull-right col-10" style="font-size:20pt;color:white;"></span>
                        <input type="password" name="password" ng-model="password" placeholder="Password" >

                    </div>


                    <button type="submit" value="Login" class="" id="geenOne" ng-click="logins();username='';password='';" >Login</button><br />
                    <button type="reset" class="redOne ion-refresh" ng-click="saveToPc();username='';password='';"> </button>
                </div>
            </form>
           


        </div>
        <a style="color:white;font-weight:bold;margin-top:30px" ng-show="logoutt" class="button button-block button-assertive" ng-click="goAG();">Agent Login</a>

        <br />
        <br />
        <br />
        <br />
    </ion-content>
</ion-view>




<!--<div class="text-center " style="padding:1.5px;">
                    <select ng-model="selectBank" ng-change="getBranch();" class="text-center" style="width:100%;color:blue;">
                        <option value="">Please Select Bank...</option>
                        <option value="{{bank}}" ng-repeat="bank in banks">{{bank.bank_name}}</option>
                    </select>
                </div>

                <div class="text-center " style="padding:1.5px; ">
                    <select ng-model="selectBaranch" ng-change="getLogin();" class="text-center" style="width:100%;color:green; ">
                        <option value="">Please Select Branch...</option>
                        <option value="{{branch}}" ng-repeat="branch in branches" style="font:bold">{{branch.branch_name}}</></option>
                    </select>

                </div>  ng-show="login"-->



















<!--<form ng-submit="logins()">
          <div class="list list-inset">
              <label class="item item-input text-center" style="padding:1.5px;  ">
                  <select ng-model="selectBank" ng-change="getBranch();" class="item item-input text-center" style="width:100%;color:blue;">
                      <option value="">Please Select Bank...</option>
                      <option value="{{bank}}" ng-repeat="bank in banks">{{bank.bank_name}}</option>
                  </select>
              </label>

              <label class="item item-input"   style="padding:1.5px; ">
                  <select ng-model="selectBaranch" ng-change="getLogin();" class="item item-input text-center" style="width:100%;color:green; ">
                      <option value="">Please Select Branch...</option>
                      <option value="{{branch}}" ng-repeat="branch in branches">{{branch.branch_name}}</option>
                  </select>

              </label>


              <div ng-show="login">
                  <label class="item item-input">

                      <input type="text" ng-model="username" placeholder="Username">
                  </label>
                  <label class="item item-input">

                      <input type="password" ng-model="password" placeholder="Password">
                  </label>
                  <button class="button button-block button-balanced" type="submit">Log in</button>
              </div>
          </div>
      </form>-->
